

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.main-menu {
    float: left;
}

li a.main-menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.main-menu:hover {
    background-color: #111;
}
.active {
    background-color: #360;
}
